
body{
    background-color: #B9B9B9;
}
.header{
    display:  flex;
    justify-content: space-between;
}

.list{
    padding: 10px;
}
.line{
    width: 1000px;
    color: black;
}
.centr{
    text-align: center;
}
.reg{
    display: table-cell;
    white-space: pre-line;
    word-wrap: break-word;
    background-color: #6D6D6D;
    height: 435px;
    width: 425px;
    padding-left:200px ;
    border-radius: 20px;
}
form{
    display: flex;
    justify-content: center;

}
input,button{
    justify-content: center;
    height: 40px;
    width: 200px;
    border-radius: 10px;
}
.zapros{
    display: table-cell;
    white-space: pre-line;
    word-wrap: break-word;
    background-color: #6D6D6D;
    height: 600px;
    width: 425px;
    padding-left:200px ;
    border-radius: 20px;
}
.add{
    padding-left: 5px;
    padding-right:1260px ;
}
.vivod{
    background-color: #6D6D6D;
    height: 600px;
    width: auto;
    padding-left:200px ;
    border-radius: 20px;
}
.login{
    display: table-cell;
    white-space: pre-line;
    word-wrap: break-word;
    background-color: #6D6D6D;
    height: 435px;
    width: 425px;
    padding-left:200px ;
    border-radius: 20px;
    line-height: 50px;
}
.down{
    margin-top: 40px;
}
.vixod{
    padding-right: 5px;
}
a{
    text-decoration: none;
    color: black;

}
label{
    color: white;

}
